amqp==5.3.1
asgiref==3.9.1
async-timeout==5.0.1
billiard==4.2.4
celery==5.5.3
cffi==1.17.1
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
Django==4.2
django-celery-beat==2.8.1
django-ckeditor==6.7.1
django-countries==7.6.1
django-formtools==2.5.1
django-grappelli==4.0.2
django-js-asset==3.1.2
django-otp==1.6.1
django-phonenumber-field==8.1.0
django-scheduler==0.10.1
django-simple-history==3.10.1
django-timezone-field==7.1
django-two-factor-auth==1.17.0
djangorestframework==3.16.1
Faker==37.8.0
gunicorn==23.0.0
icalendar==6.3.2
kombu==5.5.4
packaging==25.0
phonenumbers==9.0.13
pillow==11.3.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.23.0
pypng==0.20220715.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
qrcode==7.4.2
redis==7.1.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.14
whitenoise==6.9.0
