{% extends 'accounts/base_auth.html' %}
{% block content %}

<div class="heading">Create Organisation</div>
<div class="sub">Register your institute</div>

{% if form.errors %}
<div class="form-error">
 {% for f in form.errors %}
  {{ form.errors[f].as_text }}
 {% endfor %}
</div>
{% endif %}

<form method="post">
 {% csrf_token %}

 <div class="label">Organisation Name</div>
 <div class="input-wrapper">
  <i class="fa-solid fa-building"></i>
  <input name="org_name" value="{{ form.org_name.value|default:'' }}">
 </div>

 <div class="label">Organisation Slug</div>
 <div class="input-wrapper">
  <i class="fa-solid fa-link"></i>
  <input name="slug" value="{{ form.slug.value|default:'' }}">
 </div>

 <div class="label">Admin Name</div>
 <div class="input-wrapper">
  <i class="fa-solid fa-user"></i>
  <input name="admin_name" value="{{ form.admin_name.value|default:'' }}">
 </div>

 <div class="label">Admin Email</div>
 <div class="input-wrapper">
  <i class="fa-solid fa-envelope"></i>
  <input name="email" value="{{ form.email.value|default:'' }}">
 </div>

 <div class="label">Password</div>
 <div class="input-wrapper">
  <i class="fa-solid fa-lock"></i>
  <input type="password" name="password">
 </div>

 <button class="button">Create Organisation</button>
</form>

{% endblock %}
